#MainMenu013 {
    border: 1px solid blue;
}

#MainMenu {
    float: left;
    margin-bottom: 15px;
}

#Worksheet026 {
    border: 1px solid blue;
}

#Worksheet025 {
    border: 1px solid blue;
}

#Worksheet {
    float: left;
    margin-bottom: 15px;
}

#Journal {
    float: left;
}

#Journal011 {
    border: 1px solid blue;
}

#Journal012 {
    border: 1px solid blue;
}