#MainMenu, #Worksheet, #Journal {
    float: left;
    margin-bottom: 15px;
}

#MainMenu013, #MainMenu014, #MainMenu021 {
    border: 2px solid black;
}

#Worksheet025, #Worksheet026 {
    border: 2px solid red;
}

#Journal011, #Journal012 {
    border: 2px solid blue;
}