h1 {
    text-align: center;
    color: crimson;
}

body {
    background-color: beige;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: white;
}

table {
    float: left;
    margin-bottom: 10px;
}

button {
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 150%;
}

#Month {
    width: 35px;
}

#Day {
    width: 20px;
}

#Description {
    width: 300px;
}

#PostRef {
    width: 50px;
}

#Company, #Journal, #Title3 {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

span 
{
    border: solid 1px black;
}
div 
{
    min-width: 100px;
    max-width: 200px;
    text-align: right;
}