#Title {
    text-align: center;
    color: crimson;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#myTable {
    float: left;
    margin-bottom: 10px;
}

button {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 150%;
}

input {
    width: 75%;
}

span 
{
    border: solid 1px black;
}
div 
{
    min-width: 100px;
    max-width: 200px;
    text-align: right;
}

#AccountTitle {
    text-align: left;
}

#calculator {
    position: fixed;
    top: 84%;
    left: 77%;
}

#display {
    width: 156px;
    height: 26px;
}

#number {
    font-size: 20px;
}

#number:hover {
  background-color: crimson;

}